.content {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/background_pixel.png);
  border: 20px solid #436fb4;
  box-sizing: border-box;
}

.up {
  display: flex;
  justify-content: space-between;
  margin: 10vh auto;
  margin-bottom: 10vh;
}

.paragraph {
  margin: 0;
  margin-left: 10%;
  padding: 0;
  width: 40vw;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
}

.description {
  width: 50vw;
  height: 37vh;
  margin-right: 10%;
  resize: none;
  border: none;
  border-radius: 0.5cm;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-x: hidden;
  scrollbar-width: 2px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 25px;
  line-height: 33px;
  text-decoration: none;
}

.down {
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  width: 80vw;
  justify-items: start;
}

.arrow {
  height: 15vh;
}
